a.custom-card, a.custom-card:hover {
  color: inherit;
}

.admin_tag {
  padding: 3px;
  color: green;
  border: 1px solid green;
  border-radius: 3px;
  font-size: 10px;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#scrollable-dropdown-menu .tt-dropdown-menu
{
	  max-height: 150px;
	  overflow-y: auto;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}

